/* Roboto // monsera */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


#bienvenu {
    background-image: url("./image/Fond-accueil.png");
    background-size: cover; 
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: center;
    background-color: transparent;
    font-size: 22px;
    color: white;
    font-family: "Roboto", sans-serif;
    padding-top: 5vh;
    gap: 5vw;
    position: relative;
}

a{
    text-decoration: none;
    color: white;
}

.barre {
    position: absolute;
    bottom: 0;
    left: 50%; 
    transform: translateX(-50%); 
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease; 
}

#burgerContainer {
    display: none;
    justify-content: flex-end;
    flex-direction: column;
    visibility: visible;
    margin-top: 3%;
}

#burgerContainer .flex-container {
    align-self: flex-end;
    z-index: 100;
    position: fixed;
    top: 20px;
}

#burgerContainer .container {
    cursor: pointer;
    z-index: 5;
}

#burgerContainer .bar1,
#burgerContainer .bar2,
#burgerContainer .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
    color: whitesmoke;
}

/* Rotate first bar */
#burgerContainer .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
#burgerContainer .change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
#burgerContainer .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

#menu {
    visibility: hidden;
    background-color: #212121;
    width: 40vw;
    height: 950px;
    position: relative;
    top: 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    z-index: 99;
    position: fixed;
}

#menu a {
    font-size: 2rem;
    position: relative;
    top: 100px;
    background: -webkit-linear-gradient(#F9815B, #FFA571);
    text-decoration: none;
    color: white;
    cursor: pointer;
}

#menu a:hover {
    color: #262626;
}

#menu.show {
    visibility: visible;
}

.flex-container2 {
    display: flex;
    justify-content: flex-end;
    height: 0px;
}


.accueil{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 20vh;
}

#bienvenu::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 0; 
}

h2{
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 4vw;
}

.photoProfil{
    width: 20vw;
    height: 50vh;
}

.dev{
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 2.3vw;
}

.details{
    font-family: "Montserrat", sans-serif;
    color: white;
    width: 30vw;
    font-size: 1.5vw;
    font-weight: 300;
    color: rgb(214, 213, 213);
}

.photoProfil{
    border-radius: 50%;
    box-shadow: 0px 0px 40px #87D8F5;
}

.btnAccueil{
    padding-top: 5%;
    display: flex;
    gap: 2vw;
}


#btnAccueil1{
    width: 8vw;
    height: 3.5vh;
    border-radius: 50px;
    background-color: transparent;
    color: white;
    font-family: "Roboto", sans-serif;
    border: 1px solid #87D8F5;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 4vh;
}


#btnAccueil2{
    width: 8vw;
    height: 3.5vh;
    border-radius: 50px;
    background-color: #87D8F5 ;
    color: black;
    font-family: "Roboto", sans-serif;
    border: 1px solid #87D8F5;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 4vh;

}

#baniere{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    background-color: #062F3A;
}

.paraBanier {
    align-items: center;
    color: white;
    font-size: 30px;

}

#Apropos{
    background-color: #030304;
    width: 100%;
    height: 100vh;
}

.photoDos{
    width: 40vw;
    height: 60vh;
}

.titreApropos{
    font-family: "Montserrat", sans-serif;
    color: #9de0f3;
    font-size: 4vw;
    position: relative;
    top: 10vh;
    padding-left: 10vw;
}

.info{
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    height: 86vh;
    gap: 0%;
}

.detailApropos{
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 1.2vw;
    width: 30vw;
}

.github{
    width: 3vw;
    height: 6vh;
    margin-right: 2vw;
}

.linkedin{
    width: 3vw;
    height: 6vh;
}

#Apropos2{
    width: 100%;
    height: 100vh;
    background-color: #062F3A;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.experienceCompetence{
    display: flex;
    gap: 10vw;
    color: white;
}

.experience{
    display: flex;
    flex-direction: column;
    gap: 7vh;
} 

.titreExperience{
    font-family: "Roboto", sans-serif;
    color: #9DE0F3;
    font-size: 3.2vw;
    letter-spacing: 4px;
    text-shadow: 2px 2px 2px black;
}

.englobe1{
    display: flex;
    flex-direction: column;
    gap: 5vh;
    border: 2px solid black;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    width: 35vw;
    height: 25vh;
}

.parcours{
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: space-between;
    font-size: 1.6vw;
}

.englobe2{
    display: flex;
    flex-direction: column;
    gap: 5vh;
    border: 2px solid black;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    width: 35vw;
    height: 25vh;
}

.experience4{
    width: 25vw;
}

.annee4{
    width: 5vw;
}

.experience3{
    width: 25vw;
}

.annee3{
    width: 5vw;
}

.experience2{
    width: 25vw;
}

.annee2{
    width: 5vw;
}

.experience1{
    width: 25vw;
}

.annee1{
    width: 5vw;
}


.competence{
    display: flex;
    flex-direction: column;
    gap: 7vh;
}

.titreCompetence{
    font-family: "Roboto", sans-serif;
    color: #9DE0F3;
    font-size: 3.2vw;
    letter-spacing: 4px;
    text-shadow: 2px 2px 2px black;
}

.logo{
    border: 2px solid black;
    width: 30vw;
    height: 57vh;
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    padding: 6%;
}

.logoIn{
    width: 8vw;
    height: 7vw;
}

#projets{
   background-color: #030304; 
   color: white;
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;

}

.titreProjets{
    font-family: "Roboto", sans-serif;
    color: #9DE0F3;
    font-size: 4vw;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
}

.paraprojets{
    font-family: "Montserrat", sans-serif;
    font-size: 1.1vw;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 25vh;
    width: 30vw;
    position: relative;
    left: 35vw;
}

.photoprojet{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

#imgprojet1{
    width: 40vw;
    border: 1px solid #9DE0F3;
    cursor: pointer;
}

#textphoto1{
    display: none;
    position: absolute;
    left: 18%;
    font-size: 1.5vw;
    color: #9DE0F3;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #030304;
    color: white;
    font-family: "Montserrat", sans-serif;
    padding: 20px;
    border: 1px solid #9DE0F3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.closeBtn {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #062F3A;
    color: white;
    border: none;
    cursor: pointer;
}

.closeBtn:hover {
    background-color: #0056b3;
}

#imgprojet2{
    width: 40vw;
    border: 1px solid #9DE0F3;
}

.modal2 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #030304;
    color: white;
    font-family: "Montserrat", sans-serif;
    padding: 20px;
    border: 1px solid #9DE0F3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    line-height: 30px;

}

.closeBtn {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #062F3A;
    color: white;
    border: none;
    cursor: pointer;
}

.closeBtn:hover {
    background-color: #0056b3;
}

#textphoto2{
    display: none;
    position: absolute;
    right: 18%;
    font-size: 1.5vw;
    color: #9DE0F3;
}


#contact{
    background-color: #062F3A;
    color: white;
    height: 60vh;
    width: 100%;
}

.titreContact{
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
}

.infopersonnel{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
}

.numero{
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
}

.email{
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
}

.adresse{
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
}

.logofin{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.logoEmail{
    width: 3vw;

}
.logoTelephone{
    width: 3vw;
    cursor: pointer;

}
.logoLinkedin{
    width: 3vw;

}

footer{
    width: 100%;
    background-color: #030304;
    color: white;
    height: 10vh;
}

.pfooter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

    /* ------------------------------------------------MEDIA QUERY TABLETTE PORTRAIT-------------------------------------------------- */


    @media screen and (max-width:768px) {

        .accueil{
            display: flex;
            flex-direction: column-reverse;
            top: 5%;
            gap: 5vh;
    }

    nav{
        display: flex;
        justify-content: center;
        background-color: transparent;
        font-size: 22px;
        color: white;
        font-family: "Roboto", sans-serif;
        padding-top: 5vh;
        word-spacing: 2vw;
        position: relative;
    }


        h2{
            font-family: "Roboto", sans-serif;
            color: white;
            font-size: 7vw;
    }
        
        .dev{
            font-family: "Roboto", sans-serif;
            color: white;
            font-size: 4vw;
    }
        
        .details{
            font-family: "Montserrat", sans-serif;
            color: white;
            width: 50vw;
            font-size: 2.5vw;
            font-weight: 300;
            color: rgb(214, 213, 213);
    }

        
        .btnAccueil{
         padding-top: 5%;
    }

        #btnAccueil1{
         width: 10vw;
         height: 4vh;
         border-radius: 50px;
         background-color: transparent;
         color: white;
         border: 1px solid #87D8F5;
         font-size: 2vw;
         display: flex;
         align-items: center;
         justify-content: center;
         line-height: 4vh;
    }

        #btnAccueil2{
         width: 10vw;
         height: 4vh;
         border-radius: 50px;
         background-color: #87D8F5 ;
         color: black;
         border: 1px solid #87D8F5;
         font-size: 2vw;
         display: flex;
         align-items: center;
         justify-content: center;
         line-height: 4vh;
    }

    .photoProfil{
        border-radius: 50%;
        box-shadow: 0px 0px 40px #87D8F5;
        width: 30vw;
        height: 40vh;
    }

    #baniere{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 10vh;
        width: 100vw;
        background-color: #062F3A;
    }
    
    .paraBanier {
        align-items: center;
        color: white;
        font-size: 2.5vw;
    
    }

    #Apropos{
        background-color: #030304;
        width: 100vw;
        height: 100vh;
    }
    
    .photoDos{
        width: 55vw;
        height: 50vh;
    }
    
    .titreApropos{
        font-family: "Montserrat", sans-serif;
        color: #9de0f3;
        font-size: 6vw;
        position: relative;
        top: 15vh;
        padding-left: 5vw;
    }
    
    .info{
        justify-content: space-evenly;
        display: flex;
        align-items: center;
        height: 86vh;
        gap: 0%;

    }
    
    .detailApropos{
        font-family: "Roboto", sans-serif;
        color: white;
        font-size: 2vw;
        width: 30vw;
    }
    
    .github{
        width: 5vw;
        height: 6vh;
        margin-right: 2vw;
    }
    
    .linkedin{
        width: 5vw;
        height: 6vh;
    }
    
    #Apropos2{
        width: 100vw;
        height: 100vh;
        background-color: #062F3A;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    
    .experienceCompetence{
        display: flex;
        gap: 5vw;
        color: white;
    }
    
    .experience{
        display: flex;
        flex-direction: column;
        gap: 7vh;
    } 
    
    .titreExperience{
        font-family: "Roboto", sans-serif;
        color: #9DE0F3;
        font-size: 5vw;
        letter-spacing: 4px;
        text-shadow: 2px 2px 2px black;
    }
    
    .englobe1{
        display: flex;
        flex-direction: column;
        gap: 5vh;
        border: 2px solid black;
        padding: 2%;
        padding-left: 5%;
        padding-right: 5%;
        width: 40vw;
        height: 30vh;
    }
    
    .parcours{
        font-family: "Montserrat", sans-serif;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 2.5vw;
    }
    
    .englobe2{
        display: flex;
        flex-direction: column;
        gap: 5vh;
        border: 2px solid black;
        padding: 2%;
        padding-left: 5%;
        padding-right: 7%;
        width: 40vw;
        height: 30vh;
    }
    
    .experience4{
        width: 25vw;
    }
    
    .annee4{
        width: 5vw;
    }
    
    .experience3{
        width: 25vw;
    }
    
    .annee3{
        width: 5vw;
    }
    
    .experience2{
        width: 25vw;
    }
    
    .annee2{
        width: 5vw;
    }
    
    .experience1{
        width: 25vw;
    }
    
    .annee1{
        width: 5vw;
    }
    
    
    .competence{
        display: flex;
        flex-direction: column;
        gap: 7vh;
    }
    
    .titreCompetence{
        font-family: "Roboto", sans-serif;
        color: #9DE0F3;
        font-size: 5vw;
        letter-spacing: 4px;
        text-shadow: 2px 2px 2px black;
    }
    
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid black;
        width: 45vw;
        height: 67vh;
        padding: 7%;
        gap: 1vh;
    }

    
    .logoIn{
        width: 12vw;
        height: 14vw;
    }
    
    #projets{
       background-color: #030304; 
       color: white;
       width: 100vw;
       height: 150vh;
       display: flex;
       flex-direction: column;
    
    }
    
    .titreProjets{
        font-family: "Roboto", sans-serif;
        color: #9DE0F3;
        font-size: 6vw;
        letter-spacing: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20vh;
    }
    
    .paraprojets{
        font-family: "Montserrat", sans-serif;
        font-size: 2vw;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 25vh;
        width: 60vw;
        position: relative;
        left: 20vw;
    }
    
    .photoprojet{
        height: 100vh;
        display: flex;
        flex-direction: column;
    
    }
    
    #imgprojet1{
        width: 75vw;
        height: 45vh;
        border: 1px solid #9DE0F3;
    }

    #textphoto1{
        display: none;
        position: absolute;
        left: 34%;
        top: 378vh;
        font-size: 3vw;
        color: #9DE0F3;
    }

    #imgprojet2{
        width: 75vw;
        height: 45vh;
        border: 1px solid #9DE0F3;
    }

    #textphoto2{
        display: none;
        position: absolute;
        left: 34%;
        top: 427vh;
        font-size: 3vw;
        color: #9DE0F3;
    }
    
    #contact{
        background-color: #062F3A;
        color: white;
        height: 60vh;
        width: 100vw;
    }
    
    .titreContact{
        font-family: "Roboto", sans-serif;
        font-size: 50px;
        letter-spacing: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20vh;
    }
    
    .infopersonnel{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2vh;
    }
    
    .numero{
        font-family: "Montserrat", sans-serif;
        font-size: 30px;
    }
    
    .email{
        font-family: "Montserrat", sans-serif;
        font-size: 30px;
    }
    
    .adresse{
        font-family: "Montserrat", sans-serif;
        font-size: 22px;
    }
    
    .logofin{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1vw;

    }
    
    .logoEmail{
        width: 5vw;

    }
    .logoTelephone{
        width: 5vw;

    }
    .logoLinkedin{
        width: 5vw;

    }
    
    footer{
        width: 100vw;
        background-color: #030304;
        color: white;
        height: 10vh;
    }
    
    .pfooter{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh;
    }
}

/* -----------------------------------------------MEDIA QUERY TELEPHONE L---------------------------------------------------------- */

@media screen and (max-width:426px) {

    .accueil{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        top: 10%;
        gap: 5vh;
}

.bienvenu {
    background-image: url("./image/Fond-accueil.png");
    background-size: cover; 
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;

}

    nav{
        display: none;
}

#bienvenu::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 0; 
}

#burgerContainer {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    visibility: visible;
    margin-top: 0;
    padding-top: 3%;

}

#burgerContainer .flex-container {
    align-self: flex-end;
    z-index: 100;
    position: fixed;
    top: 20px;
    padding-right: 10%;
}

#burgerContainer .container {
    cursor: pointer;
    z-index: 5;
}

#burgerContainer .bar1,
#burgerContainer .bar2,
#burgerContainer .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
    color: whitesmoke;
}


#burgerContainer .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}


#burgerContainer .change .bar2 {
    opacity: 0;
}


#burgerContainer .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

#menu {
    visibility: hidden;
    background-color: black; 
    opacity: 0.8;
    width: 100vw;
    height: 950px;
    position: fixed;
    top: 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    z-index: 99;
}

#menu a {
    font-size: 2rem;
    position: relative;
    z-index: 100;
    top: 100px;
    background: -webkit-linear-gradient( #030304, #030304);
    color: #87D8F5;
    text-decoration: none;
    cursor: pointer;
    height: 2rem;
}

#menu a:hover {
    color: #262626;
}

#menu.show {
    visibility: visible;
}

.flex-container2 {
    display: flex;
    justify-content: flex-end;
    height: 0px;
}

    h2{
        font-family: "Roboto", sans-serif;
        color: white;
        font-size: 10vw;
}
    
    .dev{
        font-family: "Roboto", sans-serif;
        color: white;
        font-size: 6vw;
}
    
    .details{
        font-family: "Montserrat", sans-serif;
        color: white;
        width: 55vw;
        font-size: 4vw;
        font-weight: 300;
        color: rgb(214, 213, 213);
}

    
    .btnAccueil{
     padding-top: 6%;
}

    #btnAccueil1{
     width: 20vw;
     height: 4vh;
     border-radius: 50px;
     background-color: transparent;
     color: white;
     border: 1px solid #87D8F5;
     font-size: 3vw;
     display: flex;
     align-items: center;
     justify-content: center;
     line-height: 4vh;
}


    #btnAccueil2{
     width: 20vw;
     height: 4vh;
     border-radius: 50px;
     background-color: #87D8F5 ;
     text-decoration: none;
     color: black;
     border: 1px solid #87D8F5;
     font-size: 3vw;
     display: flex;
     align-items: center;
     justify-content: center;
     line-height: 4vh;
}



.photoProfil{
    border-radius: 50%;
    box-shadow: 0px 0px 40px #87D8F5;
    width: 55vw;
    height: 45vh;
}

#baniere{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 100vw;
    background-color: #062F3A;
}

.paraBanier {
    align-items: center;
    color: white;
    font-size: 4vw;

}

#Apropos{
    background-color: #030304;
    width: 100vw;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.photoDos{
    width: 80vw;
    height: 50vh;
}

.titreApropos{
    font-family: "Montserrat", sans-serif;
    color: #9de0f3;
    height: 15vh;
    font-size: 10vw;
    position: initial;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.detailApropos{
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 4vw;
    width: 80vw;
    gap: 2%;
}

.github{
    width: 10vw;
    height: 6vh;
    margin-right: 2vw;
}

.linkedin{
    width: 10vw;
    height: 6vh;
}

#Apropos2{
    width: 100vw;
    height: 160vh;
    background-color: #062F3A;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.experienceCompetence{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    color: white;
}

.experience{
    display: flex;
    gap: 5vh;
} 

.titreExperience{
    font-family: "Roboto", sans-serif;
    color: #9DE0F3;
    font-size: 10vw;
    letter-spacing: 4px;
    text-shadow: 2px 2px 2px black;
}

.englobe1{
    display: flex;
    flex-direction: column;
    gap: 5vh;
    border: 2px solid black;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    width: 85vw;
    height: 32vh;
}

.parcours{
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 5vw;
}

.englobe2{
    display: flex;
    flex-direction: column;
    gap: 5vh;
    border: 2px solid black;
    padding: 2%;
    padding-left: 5%;
    padding-right: 7%;
    width: 85vw;
    height: 32vh;
}

.experience4{
    width: 50vw;
}

.annee4{
    width: 10vw;
}

.experience3{
    width: 50vw;
}

.annee3{
    width: 10vw;
}

.experience2{
    width: 50vw;
}

.annee2{
    width: 10vw;
}

.experience1{
    width: 50vw;
}

.annee1{
    width: 10vw;
}


.competence{
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.titreCompetence{
    font-family: "Roboto", sans-serif;
    color: #9DE0F3;
    font-size: 10vw;
    letter-spacing: 4px;
    text-shadow: 2px 2px 2px black;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    width: 85vw;
    height: 50vh;
    padding: 7%;
    gap: 1vh;
}


.logoIn{
    width: 22vw;
    height: 19vw;
}

#projets{
   background-color: #030304; 
   color: white;
   width: 100vw;
   height: 120vh;
   display: flex;
   flex-direction: column;

}

.titreProjets{
    font-family: "Roboto", sans-serif;
    color: #9DE0F3;
    font-size: 10vw;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.paraprojets{
    font-family: "Montserrat", sans-serif;
    font-size: 4vw;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 25vh;
    width: 60vw;
    position: relative;
    left: 20vw;
}

.photoprojet{
    height: 80vh;
    display: flex;
    flex-direction: column;

}

#imgprojet1{
    width: 85vw;
    height: 30vh;
    border: 1px solid #9DE0F3;
}

#textphoto1{
    display: none;
    position: absolute;
    left: 22%;
    top: 452vh;
    font-size: 5vw;
    color: #9DE0F3;
}

#imgprojet2{
    width: 85vw;
    height: 30vh;
    border: 1px solid #9DE0F3;
}

#textphoto2{
    display: none;
    position: absolute;
    left: 22%;
    top: 488vh;
    font-size: 5vw;
    color: #9DE0F3;
}

#contact{
    background-color: #062F3A;
    color: white;
    height: 60vh;
    width: 100vw;
}

.titreContact{
    font-family: "Roboto", sans-serif;
    font-size: 10vw;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.infopersonnel{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
}

.numero{
    font-family: "Montserrat", sans-serif;
    font-size: 7vw;
}

.email{
    font-family: "Montserrat", sans-serif;
    font-size: 6vw;
}

.adresse{
    font-family: "Montserrat", sans-serif;
    font-size: 5vw;
}

.logofin{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;

}

.logoEmail{
    width: 7vw;

}
.logoTelephone{
    width: 7vw;

}
.logoLinkedin{
    width: 7vw;

}

footer{
    width: 100vw;
    background-color: #030304;
    color: white;
    height: 10vh;
}

.pfooter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-size: 3vw;
}
}

/* ----------------------------------------------------------------MEDIA QUERY TELEPHONE S----------------------------------------- */
@media screen and (max-width:320px) {


        .accueil{
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            top: 10%;
            gap: 5vh;
    }
    
    #bienvenu {
        background-image: url("./image/Fond-accueil.png");
        background-size: cover; 
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
    
    }
    
        nav{
            display: none;
    }
    
    #bienvenu::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7); 
        z-index: 0; 
    }
    
    #burgerContainer {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        visibility: visible;
        margin-top: 0;
        padding-top: 3%;


    }
    
    #burgerContainer .flex-container {
        align-self: flex-end;
        z-index: 100;
        position: fixed;
        top: 20px;
        padding-right: 10%;
    }
    
    #burgerContainer .container {
        cursor: pointer;
        z-index: 5;
    }
    
    #burgerContainer .bar1,
    #burgerContainer .bar2,
    #burgerContainer .bar3 {
        width: 35px;
        height: 5px;
        background-color: #fff;
        margin: 6px 0;
        transition: 0.4s;
        color: whitesmoke;

    }
    
    
    #burgerContainer .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
    }
    
    
    #burgerContainer .change .bar2 {
        opacity: 0;
    }
    
    
    #burgerContainer .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
    }
    
    #menu {
        visibility: hidden;
        background-color: black; 
        opacity: 0.9;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0px;
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 20px;
        z-index: 99;
    }
    
    #menu a {
        font-size: 2rem;
        position: relative;
        z-index: 100;
        top: 100px;
        background: -webkit-linear-gradient( #030304, #030304);
        color: #87D8F5;
        text-decoration: none;
        cursor: pointer;
        height: 2rem;
    }

    #menu a:hover {
        color: #262626;
    }
    
    .flex-container2 {
        display: flex;
        justify-content: flex-end;
        height: 0px;
    }
    
        h2{
            font-family: "Roboto", sans-serif;
            color: white;
            font-size: 12vw;
    }
        
        .dev{
            font-family: "Roboto", sans-serif;
            color: white;
            font-size: 7vw;
    }
        
        .details{
            font-family: "Montserrat", sans-serif;
            color: white;
            width: 67vw;
            font-size: 5vw;
            font-weight: 300;
            color: rgb(214, 213, 213);
    }
    
        
        .btnAccueil{
         padding-top: 6%;
    }
    
        #btnAccueil1{
         width: 30vw;
         height: 4vh;
         border-radius: 50px;
         background-color: transparent;
         color: white;
         border: 1px solid #87D8F5;
         font-size: 4vw;
         display: flex;
         align-items: center;
         justify-content: center;
         line-height: 4vh;
    }
        #btnAccueil2{
         width: 30vw;
         height: 4vh;
         border-radius: 50px;
         background-color: #87D8F5 ;
         color: black;
         border: 1px solid #87D8F5;
         font-size: 4vw;
         display: flex;
         align-items: center;
         justify-content: center;
         line-height: 4vh;
    }
    
    .photoProfil{
        border-radius: 50%;
        box-shadow: 0px 0px 40px #87D8F5;
        width: 70vw;
        height: 40vh;
    }
    
    #baniere{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 10vh;
        width: 100%;
        background-color: #062F3A;
    }
    
    .paraBanier {
        align-items: center;
        color: white;
        font-size: 4.6vw;
    
    }
    
    #Apropos{
        background-color: #030304;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2%;
    }
    
    .photoDos{
        width: 80vw;
        height: 30vh;
    }
    
    .titreApropos{
        font-family: "Montserrat", sans-serif;
        color: #9de0f3;
        height: 5vh;
        font-size: 10vw;
        position: initial;
    }
    
    .info{
        display: flex;
        flex-direction: column;
        gap: 3vh;
    }
    
    .detailApropos{
        font-family: "Roboto", sans-serif;
        color: white;
        font-size: 5vw;
        width: 80vw;
        gap: 2%;
    }
    
    .github{
        width: 12vw;
        height: 6vh;
        margin-right: 2vw;
    }
    
    .linkedin{
        width: 12vw;
        height: 6vh;
    }
    
    #Apropos2{
        width: 100%;
        height: 160vh;
        background-color: #062F3A;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    
    .experienceCompetence{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 5vw;
        color: white;
    }
    
    .experience{
        display: flex;
        gap: 5vh;
    } 
    
    .titreExperience{
        font-family: "Roboto", sans-serif;
        color: #9DE0F3;
        font-size: 10vw;
        letter-spacing: 4px;
        text-shadow: 2px 2px 2px black;
    }
    
    .englobe1{
        display: flex;
        flex-direction: column;
        gap: 10vh;
        border: 2px solid black;
        padding: 2%;
        padding-left: 5%;
        padding-right: 8%;
        width: 85vw;
        height: 32vh;
    }
    
    .parcours{
        font-family: "Montserrat", sans-serif;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 5.5vw;
    }
    
    .englobe2{
        display: flex;
        flex-direction: column;
        gap: 10vh;
        border: 2px solid black;
        padding: 2%;
        padding-left: 5%;
        padding-right: 8%;
        width: 85vw;
        height: 32vh;
    }
    
    .experience4{
        width: 55vw;
    }
    
    .annee4{
        width: 10vw;
    }
    
    .experience3{
        width: 55vw;
    }
    
    .annee3{
        width: 10vw;
    }
    
    .experience2{
        width: 55vw;
    }
    
    .annee2{
        width: 10vw;
    }
    
    .experience1{
        width: 55vw;
    }
    
    .annee1{
        width: 10vw;
    }
    
    
    .competence{
        display: flex;
        flex-direction: column;
        gap: 5vh;
    }
    
    .titreCompetence{
        font-family: "Roboto", sans-serif;
        color: #9DE0F3;
        font-size: 10vw;
        letter-spacing: 4px;
        text-shadow: 2px 2px 2px black;
    }
    
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid black;
        width: 85vw;
        height: 50vh;
        padding: 7%;
        gap: 1vh;
    }
    
    
    .logoIn{
        width: 22vw;
        height: 23vw;
    }
    
    #projets{
       background-color: #030304; 
       color: white;
       width: 100%;
       height: 120vh;
       display: flex;
       flex-direction: column;
    
    }
    
    .titreProjets{
        font-family: "Roboto", sans-serif;
        color: #9DE0F3;
        font-size: 12vw;
        letter-spacing: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20vh;
    }
    
    .paraprojets{
        font-family: "Montserrat", sans-serif;
        font-size: 4.5vw;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 25vh;
        width: 60vw;
        position: relative;
        left: 20vw;
    }
    
    .photoprojet{
        height: 75vh;
        display: flex;
        flex-direction: column;
    
    }
    
    #imgprojet1{
        width: 85vw;
        height: 25vh;
        border: 1px solid #9DE0F3;
    }

    #textphoto1{
        display: none;
        position: absolute;
        left: 18%;
        top: 434vh;
        font-size: 6vw;
        color: #9DE0F3;
    }

    #imgprojet2{
        width: 85vw;
        height: 25vh;
        border: 1px solid #9DE0F3;
    }

    #textphoto2{
        display: none;
        position: absolute;
        left: 18%;
        top: 468vh;
        font-size: 6vw;
        color: #9DE0F3;
        right: 0%;
    }
    
    #contact{
        background-color: #062F3A;
        color: white;
        height: 60vh;
        width: 100%;
    }
    
    .titreContact{
        font-family: "Roboto", sans-serif;
        font-size: 10vw;
        letter-spacing: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20vh;
    }
    
    .infopersonnel{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2vh;
    }
    
    .numero{
        font-family: "Montserrat", sans-serif;
        font-size: 7vw;
    }
    
    .email{
        font-family: "Montserrat", sans-serif;
        font-size: 5.8vw;
    }
    
    .adresse{
        font-family: "Montserrat", sans-serif;
        font-size: 5vw;
    }
    
    .logofin{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1vw;
    
    }
    
    .logoEmail{
        width: 8vw;
    
    }
    .logoTelephone{
        width: 8vw;
    
    }
    .logoLinkedin{
        width: 8vw;
    
    }
    
    footer{
        width: 100%;
        background-color: #030304;
        color: white;
        height: 10vh;
    }
    
    .pfooter{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh;
        font-size: 3vw;
    }
    }
